# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
x64/
x86/
build/
bld/

# .NET
*.dll
*.exe
*.pdb
*.cache
*.log
project.lock.json
project.fragment.lock.json
artifacts/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
NuGet.Config

# Rider (falls du mal wechselst)
.idea/
*.sln.iml

# OS
.DS_Store
Thumbs.db
desktop.ini

# API Keys / Secrets – nie ins Git!
appsettings.Development.json
secrets.json